<br>
<footer>
    <div class="container">
        <div class="card-footer text-body-secondary">
            <br>
            <div class="services">

                <h4> Customer Services</h4>
                <h6>Help Center</h6>
                <h6>Report abuse</h6>
                <h6>Open a case</h6>
                <h6>Policies & rules</h6>
                <h6>Get paid for your feedback</h6>
            </div>

            <div class="s2 services">
                <h4> About us</h4>
                <h6>About Alibaba.com</h6>
                <h6>About Alibaba Group</h6>
                <h6>Alibaba.com Blog</h6>
                <h6>Legal Notice</h6>
            </div>

            <div class="s3 services">
                <h4> Source on Alibaba.com</h4>
                <h6>Resources</h6>
                <h6>Request for Quotation</h6>
                <h6>Ready to Ship</h6>
                <h6>Buyer partners</h6>
                <h6>Alibaba.com Select</h6>
            </div>

            <div class="s4 services">
                <h4>Sell on Alibaba.com</h4>
                <h6>Supplier memberships</h6>
                <h6>Learning Center</h6>
                <h6>Partner Program</h6>
            </div>

            <div class="s5 services">
                <h4>Trade services</h4>
                <h6>Trade Assurance</h6>
                <h6>Business identity</h6>
                <h6>Logistics services</h6>
                <h6>Production Monitoring & Inspection Services</h6>
                <h6>Letter of Credit</h6> <br><br>
            </div>
        </div>

        <hr class="hr-services">

        <div>
            <p style="font-size: 15px;">Download : <img
                    src="https://icon-library.com/images/app-store-icon-png/app-store-icon-png-14.jpg" alt="" srcset=""
                    height="40px" width="100px">
                <img src="https://static.vecteezy.com/system/resources/previews/012/871/364/non_2x/google-play-store-download-button-in-white-colors-download-on-the-google-play-store-free-png.png"
                    alt="" height="50px" width="130px">
            </p>

            <a href="/">
                <img class="logo" src="/images/img4.png" alt="" height="80px" width="80px"
                    style="margin-top: -92px; margin-left: 500px;    -moz-box-shadow: 0 4px 16px rgba(0, 0, 0, 0.2);
     -webkit-box-shadow: 0 4px 16px rgba(0, 0, 0, 0.2);
">
            </a>


            <p style="margin-left: 800px; margin-top: -72px; font-size: 15px;">Follow us :
                <a href="https://www.facebook.com/" target="_blank" class="follow-icon"><i
                        class="fa-icon fa-brands fa-square-facebook fa-xl" style="color: #e2e5e9;"></i></a>
                <a href="https://www.instagram.com/accounts/login/" target="_blank" class="follow-icon"><i
                        class="fa-brands fa-square-instagram fa-xl" style="color: #e2e5e9;"></i></a>
                <a href="https://in.linkedin.com" target="_blank" class="follow-icon"><i
                        class="fa-brands fa-linkedin fa-xl" style="color: #e7eaee;"></i></a>
                <a href="https://twitter.com/i/flow/login?redirect_after_login=%2Flogin" target="_blank" target="_blank"
                    class="follow-icon"> <i class="fa-brands fa-square-twitter fa-xl" style="color: #eaecf1;"></i></a>
                <a href="https://www.youtube.com/" target="_blank" class="follow-icon"><i
                        class="fa-brands fa-square-youtube fa-xl" style="color: #e5e7eb;"></i></a>
            </p>
        </div>

        <div>
            <pre style="font-size: 12px; margin-top: 27px;"><p >
 <img src="https://www.freepnglogos.com/uploads/globe-png/globe-nikki-thean-35.png" alt="" height="50px"
      width="50px"> Alibaba.com Site: International - Español - Português - Deutsch - Français - Italiano - हिंदी - Türk - Nederlands - tiếng Việt - Indonesian 

                                         AliExpress | 1688.com | Tmall Taobao World | Alipay | Lazada | Taobao Global

                                             Browse Alphabetically: Onetouch | Country Search | Affiliate

                         Product Listing Policy - Intellectual Property Protection - Privacy Policy - Terms of Use - User Information Legal Enquiry Guide 

                                                 © 1999-2023 Alibaba.com. All rights reserved
</pre>


            </p>
        </div>




    </div>
</footer>