<!DOCTYPE html>
<html>

<head>

  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Alibaba.com: Manufacturers, Suppliers, Exporters &amp; Importers from the world's largest online B2B
    marketplace</title>
  <link rel="stylesheet" href="/stylesheets/bootstrap/dist/css/bootstrap.min.css">
  <script src="/stylesheets/bootstrap/dist/js/bootstrap.bundle.min.js"></script>

  <link rel='stylesheet' href='/stylesheets/style.css' />
  <link rel="icon" href="/images/title-image.png">
  <script src="https://kit.fontawesome.com/95504d9c7a.js" crossorigin="anonymous"></script>

</head>

<body>
  {{> header}}
  <br>
  <script src="https://code.jquery.com/jquery-2.2.4.js" integrity="sha256-iT6Q9iMJYuQiMWNd9lDyBUStIq/8PuOW33aOqmvFpqI="
    crossorigin="anonymous"></script>
     <script src="https://code.jquery.com/jquery-1.12.4.js" integrity="sha256-Qw82+bXyGq6MydymqBxNPYTaUXXq7c8v3CwiYwLLNXU="
    crossorigin="anonymous"></script>
  <script src="https://code.jquery.com/jquery-3.7.0.js" integrity="sha256-JlqSTELeR4TLqP0OG9dxM7yDPqX1ox/HfgiSLBj8+kM="
    crossorigin="anonymous"></script>



  {{{body}}}

  {{>footer}}

 


</body>