
{{errormsg}}
<div>
  <img src="https://t3.ftcdn.net/jpg/02/34/09/24/360_F_234092401_jv2JZDvES6zocvLxNyVxoMDOGvRzg4rG.jpg" alt=""
    height="600px" width="100%">



  <form class="login-form" action="/user/login" method="post">
    <div class=""><br>
      <label for="email" class="form-label">Account:</label>
      <input type="email" class="login-input" id="email" name="email" placeholder="Email address"
        aria-describedby="emailHelp"><br>

      <label for="password" class="form-label">Password:</label>
      <input type="" class="login-input" id="password" name="password" placeholder="Password"
        aria-describedby="emailHelp"><br><br>

      <button class="login-btn">Sign In</button><br><br>

      <a href="/user/signup" style="text-decoration: none; margin-left: 316px; color: black; font-size: 13px;">Create account</a>
      <hr style="width: 414px;margin-left: 14px;"><br>

       
      <h7 style="margin-left: 100px; font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;">Sign in with:</h7>
      <a class="option" href=""><i class="fa-brands fa-square-facebook fa-2xl"></i></a>
      <a href=""><i class="fa-brands fa-linkedin fa-2xl"></i></a>
       <a href=""><img
          src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/53/Google_%22G%22_Logo.svg/2008px-Google_%22G%22_Logo.svg.png "
          alt="" height="25px" width="25px">
      </a>
      <a href=""><i class="fa-brands fa-square-instagram fa-2xl"></i></a>

     



    </div>

  </form>
</div>