{{!-- <h1>help</h1> --}}

<nav class="navbar bg-body-tertiary" style="margin-top: 2px;">
    <div class="container-fluid">
        <a class="second-nav-help navbar-brand" href="#">Help Center For Buyer</a>
    </div>
</nav>

<div>
    <img src="https://china-southnorth-01.oss-cn-zhangjiakou.aliyuncs.com/intl-social-service/26/143003/20200416/7869abc19a4c4bbd8203b9d4f5d76f2d-helphub-1587013750729-rc-upload-1587006101888-128"
        alt="" width="100%" height="300px">
</div>


<div class="help-search-div">
<form class="help-search d-flex" role="search">
    <input class="search-help form-control me-2" type="search" placeholder="Enter questions or keywords" aria-label="Search">
    <button class="help-btn btn btn" type="submit">Search</button>
</form>
</div>